@media screen and (max-width: 700px) {
	#main-block {
		margin-left: auto;
		margin-right: auto;
		background: transparent;
		text-align: left;
		border: 0px solid transparent;
		width: 95%;
		font-size: 15pt;
	}
	#main-header > img {
  	width: 80px;
  	height: 80px;
	}
	#main-header-block {
  	width: 100%;
		margin-top: 14px;
	}
	#main-header > div > h1 {font-size: 15pt;}
	#main-header > div > p {font-size: 13pt;}
	#main-header-menu-block {
  	padding-top: 30px;
  	padding-bottom: 0px;
  	font-size: 13pt;
	}

	#content-blocks {
  	width: 100%;
		text-align: left;
	}
	#content-blocks > div > h1 {font-size: 15pt;}
	#intro-block > div {font-size: 13pt;}

	/* SOCIAL NETWORKS STYLES */
	#social-networks-block > div > a {font-size: 13pt;}
}

@media screen and (max-width: 400px) {
	#main-header {
  	display: flex;
  	flex-direction: column;
  	justify-content: flex-start;
	}
	#main-header-block {
		margin-top: 10px;
	}
}